
.allProductsDiv {
  margin: 2% 5%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.buttonDiv {
  margin-top: 5px;
  display: flex;
  justify-content: right;
  gap: 5px;
}

.storeInfoDiv {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color:rgba(250, 190, 122, 0.5);
  margin: 0;
  min-height: 100px;
  overflow-wrap: break-word;
}

.storeInfoDiv div {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
}

.createButton {
  display: flex;
  justify-content: end;
  margin: 20px;
}

.createButton button {
  font-size: 18px;
  height: 35px;
  border-radius: 5px;
}
