.deleteModalDiv {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.deleteModalDiv button {
    margin-bottom: 20px;
    width: 100%
}


.loginErrors li {
  color: red;
}

.loginErrors ul {
  padding: 0
}
