.addProductImageModal {
    margin: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.addProductImageForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.productImageForm input {
    width: 96%;
}

.productImageErrors li {
  color: red;
}

.productImageErrors ul {
  padding: 0
}
